<div class="book__info">
  <h2 [ngClass]="{primaryColor: isPrimary}">{{book.name}}</h2>

  <h3 appHighlightOnClick
      [backgroundColor]="'#28a745'"
      [borderWidth]="'2px'"
      [borderColor]="'yellow'"
  >{{book.author | titlecase}}</h3>

  <h4>{{book.category}}</h4>

  <p>Slogan: {{book.description}}</p>
  <p>{{book.isAvailable ? 'by now' : 'not variable'}}</p>
  <p [ngStyle]="{'font-size':'20px', 'text-decoration': 'underline', 'font-family':'Segoe Print'}">Price: {{book.price | currency}}</p>
  <p>Date: {{dateToString(book.createDate) | date:'short'}}</p>
</div>

<div class="button__container">
  <ng-container *ngIf="!isAdmin; else adminButtons">
    <button
      class="btn"
      [disabled]="!book.isAvailable || book.isInCart"
      (click)="addBook()"
    >Buy</button>

  </ng-container>

  <ng-template #adminButtons>
    <button
      class="btn"
      (click)="show()"
      [routerLink]="[product, book.id]"
      [state]="book"
    >Show</button>
    <button
      class="btn"
      [routerLink]="[edit]"
      [state]="{ id:1 , name:'Angular'}"
    >Edit</button>
  </ng-template>
</div>
