<ng-container *ngIf="isCartEmpty; else message">
  <div class="control-block">
    <h3>Purchases in your cart: cost: {{cartData.totalCost}}, quantity: {{cartData.totalQuantity}}</h3>
    <button
      (click)="clearCart()"
      class="btn">Clear cart
    </button>

    <form
      style="height: 40px; width: 500px; display: flex;"
      [formGroup]="form"
    >
      <label>Option:</label>
      <select
        formControlName="sortParams"
        (change)="changeOrderOption($event)"
      >
        <option
          *ngFor="let option of orderOptions"
          [value]="option.option"
          [selected]="option. name === opt"
        >
          {{option.name}}
        </option>
      </select>
      <label>Direction:</label>
      <select
        formControlName="sortDirection"
        (change)="changeOrderDirection()"
      >
        <option *ngFor="let option of orderDirection">{{option.name}}</option>
      </select>

    </form>
  </div>

  <div class="flex">
    <div
      class="book"
      *ngFor="let book of (cartBooks | orderBy:opt:dir)"
    >
      <app-cart-item
        [cartItems]="cartBooks"
        [book]="book"
        (increase)="increaseCount($event)"
        (decrease)="decreaseCount($event)"
        (remove)="removeItemFromCart($event)"
      ></app-cart-item>
    </div>
  </div>
</ng-container>

<ng-template
  #message
  class="book"
>
  <p>Your cart is empty. Please add book to buy</p>
</ng-template>
