<div>
  <h2 [ngClass]="{primaryColor: isPrimary}">Book name: {{book.name}}</h2>

  <h3 appHighlightOnClick>Author: {{book.author | titlecase}}</h3>

  <h4>Category: {{book.category}}</h4>

  <p>Description: {{book.description}}</p>
  <p>isAvailable: {{book.isAvailable ? 'by now' : 'not avariable'}}</p>
  <p [ngStyle]="{'font-size':'20px', 'text-decoration': 'underline', 'font-family':'Segoe Print'}">Price: {{book.price | currency}}</p>
  <p>Date: {{dateToString(book.createDate) | date:'long'}}</p>
  <p>Description: {{book.description}}</p>

  <button
    class="btn"
    [disabled]="!book.isAvailable || book.isInCart"
    (click)="addBook()"
  >Buy</button>
</div>

